include learn_title 

mixin input_topic_data()
    table
        tr
            td(id="table-line" colspan=2)
        tr
            td#input-label Title
            td
                input(type="text" id="title-input" name="title_input" size=40 value="#{topic.title}")
        tr
            td(id="table-line" colspan=2)
        tr
            td#input-label Understood
            td
                input(type="text" id="understood-input" name="understood_input" size=4 value="#{topic.understood}")
        tr
            td(id="table-line" colspan=2)
        tr
            td#input-label Reviews
            td
                textarea(id="reviews-input" name="reviews" rows="5" cols="30" value="#{topic.reviews}")
        tr
            td(id="table-line" colspan=2)
        tr
            td#input-label Toplevel Id
            td
                input(type="text" id="toplevel-input" name="toplevel_input" size=4 value="#{topic.toplevel}")
        tr
            td(id="table-line" colspan=2)
        tr
            td#input-label Parent Topic Id
            td
                input(type="text" id="parent-topic-input" name="parent_topic_input" size=4 value="#{topic.parent_topic}")
        tr
            td(id="table-line" colspan=2)
        tr
            td#input-label Sub Topic Ids
            td
                input(type="text" id="subtopics-input" name="subtopics_input" size=40 value="#{topic.sub_topics}")
        tr
            td(id="table-line" colspan=2)
        tr
            td#input-label Image Ids
            td
                input(type="text" id="images-input" name="images_input" size=40 value="#{topic.images}")
        tr
            td(id="table-line" colspan=2)

mixin submit_cancel_buttons()
    table
        tr
            td
                input(type="submit" name="submit_form" value="Submit")
            td
                input(type="submit" name="cancel_form" value="Cancel")

doctype 5
html(lang="en")
    head
        title #{toplevel.type} #{toplevel.name}
        link(rel="stylesheet" type="text/css" href="/stylesheets/title.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/edit_topic.css")
    body
        +topic_title(toplevel.type,toplevel.name,topic.title)
        br
        form(action="/topic/#{topic.id}/edit",method="post")
            +input_topic_data()
            br
            +submit_cancel_buttons()

