mixin learn_title()
    h2 Learn
    hr
    br

mixin toplevel_title(type,name)
    h2 
        span#type-title #{type}
        span#name-title #{name}
    hr
    br

mixin topic_title(type,name,title)
    h2 
        span#type-title #{type}
        span#name-title #{name}
        span#topic-page-title #{title}
    hr
    br
