include learn_title 

mixin no_topics_message()
    div#no-topics There are no topics.

mixin new_topic_bar()
    div#new-topic-bar
        input(type="text" id="new-topic-input" size=60)
        input(type="submit" id="new-topic-button" value="New Topic" onclick="create_new_topic()")
        a(id="edit-topic-link" href="/topic/#{topic.id}/edit") edit this topic

mixin status_bar()
    div#status-bar
        span#status-label status:
        span#status All up to date.

mixin status_script()
    script.
        function change_status(text,color) {
            $("#status").css("color",color);
            $("#status").text(text);
        }

mixin post_new_topic_script()
    script.
        function create_new_topic() {
            $("#no-topics").text("");
            $("#new-topic-button").attr("disabled","disabled");
            var title = $("#new-topic-input").val();
            $("#new-topic-input").val("");

            change_status("Creating a new topic","green");
            var posting = $.post("/topic/new",{ title:title, toplevel:#{toplevel.id}, parent_topic:#{topic.id} });

            posting.done(function(data,status) {
                change_status("New topic created.","gray");
                var new_row_html = toplevel_topic_row({topic_title:title,topic_id:data.topic_id});
                console.log("POST new topic success");
                $("#topics-table tr:last").after(new_row_html);
                $("#new-topic-button").removeAttr("disabled");
            });

            posting.fail(function(jqxhr,status,error_message) {
                change_status("Error creating new topic","red");
                console.log("POST /topic/new failed.");
            });
        }

mixin initialize_colors_script()
    script.
        $(document).ready(function() {
            $(".understood-button").each(function(index) {
                var button_id = "#" + this.id;
                var text = $(button_id).text();
                var text_split = text.split("%");
                var percent_done = parseFloat(text_split[0]);

                if (percent_done == 100.0) {
                    $(button_id).css("color","green");
                    $(button_id).css("font-weight",500);
                } else if (percent_done > 66.6) {
                    $(button_id).css("color","orange");
                    $(button_id).css("font-weight",500);
                } else if (percent_done > 33.3) {
                    $(button_id).css("color","red");
                    $(button_id).css("font-weight",500);
                } else {
                    $(button_id).css("color","gray");
                    $(button_id).css("font-weight",100);
                }
            });
        });
        

mixin handle_understand_button_script()
    script.
        function understand_clicked(button,topic_id) {
            var button_id = "#" + button.id;
            var text = $(button_id).text();
            var post_data = new Object();
            if (text == "0% understood") {
                $(button_id).css("color","green");
                $(button_id).css("font-weight",500);
                $(button_id).text("100% understood");
                post_data.understood = 100.0;
            } else {
                $(button_id).css("color","gray");
                $(button_id).css("font-weight",100);
                $(button_id).text("0% understood");
                post_data.understood = 0.0;
            }

            console.log("POST /topic/" + topic_id + "/update");

            change_status("Updating the understood %","green");

            var posting = $.post("/topic/"+topic_id+"/update",{data:post_data});
            posting.done(function(data,status) {
                change_status("understood value updated.","gray");
                console.log("POST understand success.");
            });
            posting.fail(function(jqxhr,status,error_message) {
                change_status("understood update failed.","red");
                console.log("POST understand failed.");
            });
        }

mixin handle_review_button_script()
    script.
        function review_clicked(button,topic_id) {
            var button_id = "#" + button.id;
            var text = $(button_id).text();
            var review_number_text = text.split(" ");
            var review_number = parseInt(review_number_text);
            review_number++;
            $(button_id).text(review_number + " reviews");

            console.log("POST /topic/" + topic_id + "/update");
            change_status("Updating the number of reviews","green");

            var posting = $.post("/topic/"+topic_id+"/update",{data:{reviews:true}});
            posting.done(function(data,status) {
                change_status("review value updated.","gray");
                console.log("POST review success.");
            });
            posting.fail(function(jqxhr,status,error_message) {
                change_status("review update failed.","red");
                console.log("POST review failed.");
            });
        }


mixin display_topics_with_no_subtopics()
    if topics_no_subtopics != null
        each topic in topics_no_subtopics
            tr#topic-row
                td#vertical-bar
                td#topic-title-cell 
                    a(id="topic-title" href="/topic/#{topic.id}/page") #{topic.title}
                td 
                    div(class="understood-button" id="understood_button_#{topic.id}" onclick="understand_clicked(this,#{topic.id})") #{topic.understood}% understood
                td
                    - var num_reviews = topic.reviews == null ? 0 : topic.reviews.length
                    div(class="review-button" id="review_button_#{topic.id}" onclick="review_clicked(this,#{topic.id})") #{num_reviews} reviews
            tr
                td(id="table-line" colspan=4)


mixin display_topics_with_subtopics()
    if topics_with_subtopics != null
        each topic in topics_with_subtopics
            tr#topic-row
                td#vertical-bar
                td#topic-title-cell 
                    a(id="topic-title" href="/topic/#{topic.id}/page") #{topic.title}
                td#understood-value #{topic.understood}% understood
                - var num_reviews = topic.reviews == null ? 0 : topic.reviews.length
                td#review-value #{num_reviews} reviews
            tr
                td(id="table-line" colspan=4)


doctype 5
html(lang="en")
    head
        title Topic #{topic.title}
        link(rel="stylesheet" type="text/css" href="/stylesheets/title.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/topic.css")
        script(src="/javascripts/jquery-1.10.2.min.js")
        script(src="/javascripts/runtime.js")
        script(src="/javascripts/toplevel_topic_row.js")
        +status_script()
        +post_new_topic_script()
        +handle_understand_button_script()
        +handle_review_button_script()
        +initialize_colors_script()
    body
        +topic_title(toplevel.type,toplevel.name,topic.title)
        br
        +new_topic_bar()
        br
        +status_bar()
        br
        if no_topics
            +no_topics_message()
            table#topics-table 
                tr
                    td(id="table-line" colspan=4)
        else
            table#topics-table 
                tr
                    td(id="table-line" colspan=4)
                +display_topics_with_no_subtopics()
                +display_topics_with_subtopics()


